.profile-root {
  padding: 2rem 1rem;
  border: 1px solid #f2f5f7;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h6 {
    color: #2d314d;
  }
  ul {
    margin-left: 1rem;
  }

  li {
    font-size: 14px;
    list-style: disc;
  }

  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
}

.avatar {
  max-height: 20rem;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.profile-content {
  li {
    margin-bottom: 0.5rem;
  }
}

.teacher-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f2f5f7;
}
