.wrapper {
  display: grid;
  grid-template-columns: 1fr min(80ch, 100%) 1fr;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1 / 8;
  width: 100%;
}

.container {
  max-width: var(--max-width);
  margin: auto;
}

.section {
  padding: 4rem 1rem 3rem;
  &:nth-child(odd) {
    background-color: #f2f5f7;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat("auto-fill", minmax(250px, 1fr));
  gap: 1rem;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #3c6453;
  margin-bottom: 1rem;
}

.italic {
  font-style: italic;
  font-weight: 600;
}

.btn {
  padding: 0.5rem 0.875rem;
  border-radius: 3rem;
  font-family: var(--font-body);
  font-weight: 600;
  border: none;
  font-size: 14px;
}
