.header {
  padding: 0 2rem;
  border-bottom: 1px solid #efefef;
}

.logo {
  font-family: "TT Interphases Pro Trl";
  font-weight: 700;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-family: "TT Interphases Pro Trl";
    font-weight: 500;
    font-size: 14px;
  }
}

.nav-link {
  color: black;
  padding: 0.5rem 0.875rem;
  border-radius: 4px;
  transition: all 0.1s ease-in;
  &:hover {
    background: #e4e4e4;
  }
}

.drawer-content {
  padding: 0 0 1.5rem;
  font-family: inherit;
}
.drawer-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.trigger {
  display: block;
}

.button {
  background-color: #213d4d;
  color: #efefef;
}

.button,
.navbar {
  display: none;
}

@media (min-width: 678px) {
  .button,
  .navbar {
    display: block;
  }
  .trigger {
    display: none;
  }
}
